<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/nomalize.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet" />
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>Studying:공부를 하다</title>
</head>

<body>
  <header id="header">
    <div id="container">
      <a href="/"><img src="/static/imges/logo.png" alt="Studying" id="logo"></a>
      <nav id="nav">
        <ul id="list">
          {% if request.session.user %}
          <li id="list-item"><a href="board/list/">내 프로필</a></li>
          <li id="list-item"><a href="user/logout/">로그아웃</a></li>
          
          {% else %}
          <li id="list-item"><a href="user/login/">로그인</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>

<div class="container">
  {% block contents %}
  {% endblock %}
</div>
  <footer id="footer">
    <div id="container">
      <p id="copyright">
        &copy; 코린이형준
        <a href="https://github.com/leeceo97">
          깃허브</a>

      </p>
    </div>
  </footer>

</body>

</html>