{% extends "base.html" %}

{% block contents %}

<div class="row">
    {% for board in boards %}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ board.image }}" alt="..." onclick="location.href='/board/detail/{{ board.id }}'">
            <div class="caption">
                <h3 onclick="location.href='/board/detail/{{ board.id }}'">{{ board.title }}</h3>
                <p onclick="location.href='/board/detail/{{ board.id }}'">{{ board.contents }}</p>
                <p onclick="location.href='/board/detail/{{ board.id }}'">{{ board.created_dttm }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}